@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Student Kiosk Page";
}

<script>
    $(document).ready(
        function () {
            $('#listusers a').hover(
                function () {
                    var linkIndex = $(this).attr("data-filename");
                    $("#box img:hidden").show();
                    $(this).addClass('hover');
                    $('#box img').attr('src', linkIndex);
                    $("#box h2").text($(this).text());
                })
        });

</script>

    <div class="container-fluid" id="kioskbackground">
        <div class="row text-center"><h1>@ViewBag.Title</h1></div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-offset-0 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h1>Click your thumbnail to clock in/out.</h1>
                        <div class="row">

                            <div id="listusers" class="kioskModule">
                                <ul class="list-unstyled">
                                    @{
                                        if (Model.StudentList == null || !Model.StudentList.Any())
                                        {
                                            <li>No Students in the System</li>
                                        }
                                        else
                                        {
                                            // Logged IN first
                                            foreach (var item in Model.StudentList)
                                            {
                                                if (item.Status == _5051.Models.StudentStatusEnum.In)
                                                {
                                                    <li>
                                                        <div class="serviceBox">
                                                            <a id="@item.Id" href="~/Kiosk/SetLogOut/@item.Id" data-filename="/Content/img/@item.AvatarUri">
                                                                <div class="service-icon">
                                                                    <img id="avatar-green" src="~/Content/img/@item.AvatarUri" class="img-responsive" />
                                                                </div>
                                                                <p class="description">
                                                                    @item.Name
                                                                </p>
                                                            </a>
                                                        </div>
                                                    </li>

                                                }
                                                else if (item.Status == _5051.Models.StudentStatusEnum.Out)
                                                {
                                                    <li>
                                                        <div class="serviceBox">
                                                            <a id="@item.Id" href="~/Kiosk/SetLogIn/@item.Id" data-filename="/Content/img/@item.AvatarUri">
                                                                <div class="service-icon">
                                                                    <img id="avatar-white" src="~/Content/img/@item.AvatarUri" class="img-responsive" />
                                                                </div>
                                                                <p class="description">
                                                                    @item.Name
                                                                </p>
                                                            </a>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        }
                                    }
                                </ul>
                            </div>

                        </div>
                        <div class="row">@Html.ActionLink("CREATE NEW ACCOUNT", "NewProfile", "kiosk", null, new { @class = "btn btn-success btn-lg btn-block kioskbtn" })</div>

                    </div>
                    <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0 hidden-xs">
                        <div id="clock">
                            <p class="unit" id="hours"></p>:
                            <p class="unit" id="minutes"></p>:
                            <p class="unit" id="seconds"></p>
                            <p class="unit" id="ampm"></p>
                            <script src="~/Scripts/clock.js"></script>
                        </div>
                        <div class="kioskModule" id="avatarsidebar">
                            <div id="box">
                                <center>
                                    <img id="avatar" style="display:none;" />
                                    <h2></h2>
                                </center>
                            </div>
                        </div>
                        <div class="kioskModule" id="box">
                            <center>
                                @if (Model.DisplayMsgType == 0)
                                {
                                    <h1>Good Morning!</h1>
                                }
                                else
                                {
                                    <h4>@Model.DisplayMsg()</h4>
                                }
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="road"><hr /></div>
        </div>
    </div>



