@model _5051.Models.StudentViewModel

@{
ViewBag.Title = "Reports";
}



<div id="background3">
<div class="container-full">
    <div class= "col-md-12">
        
        <div id="adminHeader" class="col-md-12">
            <div id="Pgtitle" class="col-md-3">
                Manage Students
            </div>
            <div id="mainMenu" class="col-md-9 pull-right">
                @Html.ActionLink("Main Menu", "Index", "Admin", null, new { @class = "btn btn-primary" })
                
            </div>
        </div>

        <br />

        <div class="col-md-12">
            @{
                if ((Model.StudentList == null || Model.StudentList.Count == 0) && Model.Student == null)
                {
            <br />
            <p>No Students in the System</p>
            <br />
                }
                else
                {
                    
                    <!--script to switch between report and edit attendance table-->
                    <script type="text/javascript">
                    function changeImage(cmd) {
                        var img = document.getElementById("report");
                        if (cmd == "report") {

                            if ('@Model.StudentList.Count' == 0) {

                            } else {
                                img.src = "@Url.Content("~/Content/img/Admin Reports/totalAttendance.png")";
                                img.style.width = "600px";
                            }

                        } else if (cmd == "edit" && '@Model.StudentList.Count' == 0 ) {
                                img.src = "@Url.Content("~/Content/img/Admin Reports/editAttendance1.png")";
                                img.style.width = "500px";
                                document.getElementById("next").outerHTML = "";
                                document.getElementById("back").outerHTML = "";


                            //Only create button if it doesn't exist
                                if (!document.getElementById("tbEdit")) {
                                    var EditBttn = document.createElement('a');
                                    EditBttn.innerHTML = "Edit";
                                    EditBttn.setAttribute('href', "#");
                                    EditBttn.setAttribute('id', 'tbEdit');
                                    EditBttn.setAttribute('class', 'btn btn-primary attnEdit');
                                    EditBttn.setAttribute('role', 'button');
                                    EditBttn.setAttribute('onclick', "changeImage('editEntry')");
                                    document.getElementById("adminReportBttn").appendChild(EditBttn);
                                }

                                if (!document.getElementById("tbSave")) {
                                    var SubmitBttn = document.createElement('a');
                                    SubmitBttn.innerHTML = "Save";
                                    SubmitBttn.setAttribute('href', "#");
                                    SubmitBttn.setAttribute('id', 'tbSave');
                                    SubmitBttn.setAttribute('class', 'btn btn-success attnEdit');
                                    SubmitBttn.setAttribute('role', 'button');
                                    SubmitBttn.setAttribute('onclick', "changeImage('submit')");
                                    document.getElementById("adminReportBttn").appendChild(SubmitBttn);
                                }

                        } else if (cmd == "editEntry") {
                            img.src = "@Url.Content("~/Content/img/Admin Reports/editAttendance2.png")";
                            img.style.width = "500px";
                        } else if (cmd == "submit") {
                            img.src = "@Url.Content("~/Content/img/Admin Reports/editAttendance3.png")";
                            img.style.width = "500px";
                        }

                }

                
            </script>

                    //Support print button
                    <script type="text/javascript">
                        function Print() {
                            var fullPath = document.getElementById("report").src;
                            var reportFile = fullPath.replace(/^.*[\\\/]/, '');
                            if ('@Model.StudentList.Count' > 0) {
                                 if (reportFile == "blankReport.png") {
                                     window.open('@Url.Action("PrintReport", "Admin")', '_blank');
                                } else {
                                     window.open('@Url.Action("PrintReport", "Admin",new { id = "", isEmpty = "no" })',
                                        '_blank');
                                 }
                            } else {

                                printOne();

                            }

                        }
                    </script>

                <div id="adminLPane" class="col-md-4 hoverGlow">

                @{
                            if (Model.Student != null)
                            //For invidiual student
                            {

                                var item = Model.Student;
                        <div class="col-md-12" align="center">
                            <img src="~/Content/img/@item.AvatarUri" width="150" height="150" />
                        </div>
                        <br />
                        <br />
                        <br />

                                if (Model.Student.IsUpdate == true)
                                {
                                    //Update student info
                                    using (Html.BeginForm("Update", "Admin", FormMethod.Post))
                                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(i => Model.Student.Id)
                        @Html.HiddenFor(i => Model.Student.AvatarId)
                        @Html.HiddenFor(i => Model.Student.AvatarLevel)
                        @Html.HiddenFor(i => Model.Student.Tokens)
                        @Html.HiddenFor(i => Model.Student.IsUpdate)
                        @Html.HiddenFor(i => Model.Student.AvatarUri)
                        <div class="center">
                            <div class="row">
                                <div class="col-md-5 text-left">
                                    @Html.DisplayNameFor(i => Model.Student.Name)
                                </div>
                                <div id="fitEditNameText" class="col-md-7 text-left">
                                    @Html.EditorFor(i => Model.Student.Name)
                                    @Html.ValidationMessageFor(i => Model.Student.Name)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 text-left">
                                    @Html.DisplayNameFor(i => Model.Student.AvatarName)
                                </div>
                                <div class="col-md-7 text-left">
                                    @Html.DisplayFor(i => Model.Student.AvatarName)
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-5 text-left">
                                    @Html.DisplayNameFor(i => Model.Student.AvatarDescription)
                                </div>
                                <div class="col-md-7 text-left">
                                    @Html.DisplayFor(i => Model.Student.AvatarDescription)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 text-left">
                                    @Html.DisplayNameFor(i => Model.Student.AvatarLevel)
                                </div>
                                <div class="col-md-7 text-left">
                                    @Html.DisplayFor(i => Model.Student.AvatarLevel)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 text-left">
                                    @Html.DisplayNameFor(i => Model.Student.Status)
                                </div>
                                <div class="col-md-7 text-left">
                                    @Html.EnumDropDownListFor(i => Model.Student.Status, "Select Status")
                                    @Html.ValidationMessageFor(i => Model.Student.Status)
                                </div>
                            </div>

                        </div>

                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-12 text-center">
                                @Html.ActionLink("Cancel", "Manage", "Admin", new { @class = "btn btn-success" })
                                <input type="submit" value="Update" class="btn btn-primary">

                            </div>
                        </div>


                                    }
                                }
                                else
                                {
                                    //Read student info
                        <div class="center">
                            <div class="row">
                                <div class="col-md-5 text-left">
                                    @Html.DisplayNameFor(i => item.Name)
                                </div>
                                <div class="col-md-7 text-left">
                                    @Html.DisplayFor(i => item.Name)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 text-left">
                                    @Html.DisplayNameFor(i => item.AvatarName)
                                </div>
                                <div class="col-md-7 text-left">
                                    @Html.DisplayFor(i => item.AvatarName)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 text-left">
                                    @Html.DisplayNameFor(i => item.AvatarDescription)
                                </div>
                                <div class="col-md-7">
                                    @Html.DisplayFor(i => item.AvatarDescription)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 text-left">
                                    @Html.DisplayNameFor(i => item.AvatarLevel)
                                </div>
                                <div class="col-md-7 text-left">
                                    @Html.DisplayFor(i => item.AvatarLevel)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 text-left">
                                    @Html.DisplayNameFor(i => item.Status)
                                </div>
                                <div class="col-md-7 text-left">
                                    @Html.DisplayFor(i => item.Status)
                                </div>
                            </div>
                        </div>


                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-12 text-center">
                                @Html.ActionLink("Edit", "Manage", "Admin", new { id = item.Id, cmd = "Update" }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Back", "Manage", "Admin", new { id = "" }, new { @class = "btn btn-success" })
                            </div>
                        </div>

                                }

                            }
                            else
                            {
                                //For list of students
                        <div class="listcenter">
                            @foreach (var item in Model.StudentList)
                                    {
                                    <div class="col-md-6 text-center">
                                        <a id="@item.Id" href="~/Admin/Manage/@item.Id">
                                            <img src="~/Content/img/@item.AvatarUri" width="50" height="50">
                                            <br />
                                            <div text-align:center>
                                                @item.Name
                                            </div>
                                        </a>
                                    </div>

                                    }
                        </div>

                            }
                }
            </div>


                <div id="adminRPane" class="col-md-7 hoverGlow">
                    <div class="row">
                   

                        <div id="reportPane">
                            @if (Model.Student == null)
                            {
                                    //Menu bar above the report
                                    <div id="adminInnerRPane">
                                        <label for="frDate">From date:</label>
                                        <input type="date" id="frInput" name="frInput">
                                        <label for="toDate">To date:</label>
                                        <input type="date" id="toInput" name="toInput">
                                        <a href="#" class="btn btn-success" role="button"
                                           onclick="changeImage('report')">Run</a>
                                        <div class="btn btn-danger" role="button" onclick="Print()">Print</div>
                                    </div>
                                    <img id="report" src="~/Content/img/Admin Reports/blankReport.png" width="600" height="300">
                            }
                            else
                            {
                                //Support print button
                                <script type="text/javascript">

                                    function PrintOne() {
                                        var SID = '@Model.Student.Id';
                                        var link = '@Url.Action("PrintReport", "Admin")/' + SID;
                                        window.open(link, '_blank');
                                    }
                                </script>

                                <!--Script to move between individual reports-->
                                <script type="text/javascript">
                                                        function changeReport(id) {
                                                            var counter = document.getElementById("counter").innerHTML;

                                                        if (id == "next") {
                                                            if (counter >= 4) {
                                                                counter = 4;
                                                            } else {
                                                                counter++;
                                                            }
                                                            } else {
                                                            if (counter <= 1) {
                                                            counter = 1;
                                                            } else {
                                                            counter--;
                                                            }
                                                        }
                                                            var img = document.getElementById("report");
                                                            var newimg = '@Model.Student.ReportsId[0]';
                                                            newimg = newimg.replace("_1", "_" + counter);
                                                            img.src = "@Url.Content("~/Content/img/Admin Reports/")" + newimg;
                                                            document.getElementById("counter").innerHTML = counter;

                                                }
                                </script>

                                //Menu bar above the report
                                <div >
                                    <label for="frDate">From date:</label>
                                    <input type="date" id="frInput" name="frInput">
                                    <label for="toDate">To date:</label>
                                    <input type="date" id="toInput" name="toInput">
                                    <a href="#" class="btn btn-success" role="button"
                                       onclick="changeImage('report')">Run</a>
                                    <a href="#" class="btn btn-primary" role="button" onclick="changeImage('edit')">
                                        Table View
                                    </a>
                                    
                                </div>
                                <div id="adminInnerRPane2">
                                    <div class="btn btn-danger" role="button" onclick="PrintOne()">Print</div>
                                </div>

                                var reportSource = Model.Student.ReportsId[0];
                                    <img id="report" src="~/Content/img/Admin Reports/@reportSource" width="600" height="300">
                                    <br />
                                    <div id="adminReportBttn">
                                        <img id="back" src="~/Content/img/Admin Reports/backIcon.png" onclick="changeReport(this.id)"
                                             width="50" height="50">
                                        <img id="next" src="~/Content/img/Admin Reports/nextIcon.png" onclick="changeReport(this.id)"
                                             width="50" height="50">
                                        <a id="counter" visibility: hidden>1</a>
                                    </div>


                                    }

                        </div>
                    </div>
                </div>


                    

                 }
            }
        </div>
    </div>

</div>
</div>

